<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width: 100%; height: 100%">
    <form th:action="@{/}" th:object="${reservationForm}" method="post">
        <input  style="width: 100% ;" placeholder="Imie" type="text" th:field="*{name}">
        <input style="width: 100%;" placeholder="Nazwisko" type="text" th:field="*{lastname}">
        <br/>
        <input style="width: 100%;"  placeholder="Adres" type="text" th:field="*{adres}">
        <br/>
        <input style="width: 100%;" placeholder="Data" type="text" th:field="*{date}">
        <input style="width: 100%;" type="submit" value="Zarezerwuj">

    </form>
</div>
</body>
</html>